
html {
    font-size: 10px;
    /* Gradient from UIGradients.com */
    background: #F0F2F0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    margin: 0;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.clock {
    border: 10px solid #f0f2f0;
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    margin: 100px auto;
    position: relative;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    position: absolute;
    width: 50%;
    height: 6px;
    background:#000c40;
    top: 50%;
    transform-origin: center right;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: ease-in-out;
}

